<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Your Logo Regression Suite">

    <listeners>
    <listener class-name = "com.qa.hubspot.listeners.ExtentReportListener" />
    </listeners>
    
  <test thread-count="5" name="MY YOUR LOGO  FUNCTIONAL REGRESSION TEST">
    
       
    
    <classes>
      <class name="com.qa.hubspot.logintest.LoginPageTest"/>
      <class name="com.qa.hubspot.logintest.HomePageTest"/>
      
    </classes>
  </test>
</suite> 
